<strong>1.0.0 - December 19th, 2018</strong>
<ul>
  <li>Official launch!👏</li>
  <li>Removed premium pages and settings</li>
  <li>Various layout improvements</li>
</ul>
<strong>Beta 3.4.2 - December 11th, 2018</strong>
<ul>
  <li>Switched fontstack</li>
  <li>Updated basic campaign slots to 10</li>
  <li>Fixed dates on changelog</li>
  <li>Fix for login loop</li>
</ul>
<strong>Beta 3.4.1 - December 10th, 2018</strong>
<ul>
  <li>Improved premium page</li>
  <li>Changed up loading screen</li>
  <li>Removed early adopter benefits due to complications</li>
</ul>
<strong>Beta 3.4.0 - December 9th, 2018</strong>
<ul>
  <li>Improved tablet performance</li>
  <li>Fixed small padding issue on console</li>
</ul>
<strong>Beta 3.3.1 - December 8th, 2018</strong>
<ul>
  <li>Improved /roll command error handling</li>
  <li>Fixed /generate command bugs</li>
  <li>Add early adopter benefits</li>
  <li>Added New /generate feature to help generate random names based off of a race</li>
  <li>Cleaned up /help command</li>
  <li>Added new changelog page</li>
</ul>