<div class="sidebar">
  <div class="sidebar__content">
    <ul>
      <li>
        <a href="{{ '/campaigns' | relative_url }}"><i class="icon-folder"></i></a>
        <span>My campaigns</span>
      </li>
      <li>
        <a href="https://www.dndbeyond.com/compendium/rules/basic-rules" target="_blank"><i class="icon-book-open"></i></a>
        <span>Basic rules</span>
      </li>
      <li>
        <a id="logout" href="#"><i class="icon-log-out"></i></a>
        <span>Log out</span>
      </li>
      <li>
        <i class="icon-info"></i>
        <span>Version A1.1.0</span>
      </li>
    </ul>
  </div>
</div>