<div class="sidebar">
  <div class="sidebar__content">
    <ul>
      <li>
        <a href="{{ '/campaigns' | relative_url }}"><i class="icon-book"></i></a>
        <span class="shadow">My campaigns</span>
      </li>
      <li>
        <a href="{{ '/about' | relative_url }}"><i class="icon-help"></i></a>
        <span class="shadow">About 1Screen</span>
      </li>
      <li>
        <a href="https://www.buymeacoffee.com/matouio" target="_blank"><i class="icon-heart"></i></a>
        <span class="shadow">Support 1Screen</span>
      </li>
      <li>
        <a href="https://twitter.com/1ScreenApp" target="_blank"><i class="icon-lifebuoy"></i></a>
        <span class="shadow">Get support</span>
      </li>
      <li>
        <a id="logout" href="#"><i class="icon-log-out"></i></a>
        <span class="shadow">Log out</span>
      </li>
    </ul>
  </div>
</div>