---
---

/* Variables
================================================== */

$primary: #e01a41;
$accent: #282c37;
$border: #9baec8;
$fontstack: 'Muli', sans-serif;

.shadow {
  box-shadow: 0 1px 2px 0 rgba(31, 45, 61, 0.15);
}

/* Includes
================================================== */

@import 'quill';
@import 'normalize';
@import 'helpers';
@import 'icomoon';
@import 'emoji';
@import 'index';

/* Basics
================================================== */

body {
  -webkit-font-smoothing: antialiased;
  background-color: #f4f6f8;
  background-repeat: no-repeat;
  background-size: contain;
  color: $accent;
  font-family: $fontstack;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0px auto;
  width: 100%;
}

p { margin: 0.5em 0;}
strong { font-weight: 600; }
em { font-style: italic; }

h1,h2,h3,h4,h5 {
  display: block;
  margin: 0.5em 0;
}

.content {
  margin: 0px auto;
  max-width: 800px;
  width: 95%;
  &.content--padded {
    margin: 20px auto;
  }

  @media screen and (max-width: 1024px) {
    width: 90%;
  }

  @media screen and (max-width: 798px) {
    width: 95%;
  }
}

.btn {
  padding: 5px 7px;
  border-radius: 6px;
  background-color: $primary;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.3s background-color;
  &:hover {
    background-color: darken($primary, 20%);
  }
}

main {
  @include flexbox();
  height: calc(100vh - 50px);
  @media screen and (max-width: 798px) {
    @include flex-direction(column);
    height: auto;
  }
}

/* Nav
================================================== */

nav {
  @include flexbox();
  @include align-items(center);
  @include justify-content(flex-start);
  background-color: $primary;
  height: 50px;
  width: 100%;
}

.nav__logo {
  display: inline-block;
  line-height: 0;
  img {
    height: 30px;
    width: auto;
    padding-left: 10px;
    padding-right: 20px;
  }
}

.nav__options {
  @include flexbox();
  @include align-items(center);
  @include justify-content(flex-end);
  width: 100%;
  padding-right: 10px;
  a {
    color: white;
    transition: ease-in-out 0.3s opacity;
    &:hover {
      text-decoration: none;
      opacity: 0.5;
    }
  }

  ul {
    @include inline-flexbox();
    list-style: none;
    padding-left: 0;
    margin: 0;
    li {
      @include inline-flexbox();
      @include align-items(center);
      padding-left: 10px;
    }
    span {
      @include inline-flexbox();
      @include align-items(center);
      color: white;
    }
    img {
      height: 30px;
      width: auto;
      margin-left: 10px;
    }
  }
}

/* Sidebar
================================================== */

.sidebar {
  background-color: $accent;
  height: 100%;
  width: 60px;
  @media screen and (max-width: 798px) {
    height: 45px;
    width: 100%;
  }
}

.sidebar__content {
  @include flexbox();
  @include align-items(center);
  @include flex-direction(column);
  @media screen and (max-width: 798px) {
    @include flex-direction(row);
    height: 100%;
  }

}

.sidebar__content ul {
  list-style: none;
  padding-left: 0;
  font-size: 24px;
  @media screen and (max-width: 798px) {
    margin: 0px auto;
  }
  li {
    padding: 10px 0;
    @media screen and (max-width: 798px) {
      display: inline-block;
      padding: 0 10px;
    }
  }
  a,
  i {
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.3s opacity;
    &:hover {
      text-decoration: none;
      opacity: 0.5;
    }
  }
}

.sidebar li {
  position: relative;
  &:hover {
    span {
      opacity: 1;
      visibility: visible;
    }
  }
  span {
    background-color: $accent;
    border-radius: 6px;
    color: white;
    display: block;
    position: absolute;
    padding: 10px;
    opacity: 0;
    right: -180px;
    top: 50%;
    transform: translateY(-50%);
    transition: ease-in-out 0.3s opacity;
    visibility: hidden;
    width: 150px;
    z-index: 5;
    font-size: 16px;
    text-align: center;
    &:before {
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right: 6px solid $accent;
      content: '';
      height: 0;
      left: -6px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
    }
  }
}

/* Quill
================================================== */

.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  background: white;
  border-color: $border;
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.ql-container.ql-snow {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* Document editor
================================================== */

#save {
  padding: 7px;
  background-color: $accent;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.3s background-color;
  width: 150px;
  text-align: center;
  &.changes { background-color: $primary; }
  &:hover {
    background-color: darken($primary, 20%);
  }
}

.loading-screen {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  background-color: #f4f6f8;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  img {
    width: 50px;
    height: 50px;
  }
}

.document {
  margin: 10px auto;
  width: 95%;
  height: calc(100% - 20px);
  max-width: 1200px;
  @media screen and (max-width: 1024px) {
    width: 90%;
  }

  @media screen and (max-width: 798px) {
    width: 95%;
  }
}

.document__title {
  display: inline-block;
  font-size: 2em;
  margin: 0.5em 0;
  outline: 0;
  &:focus {
    opacity: 0.5;
  }
}

.document__header {
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
  position: relative;
  @media screen and (max-width: 798px) {
    @include flex-direction(column);
    margin-bottom: 20px;
  }
}

.document__workspace {
  @include flexbox();
  height: 90%;
  @media screen and (max-width: 798px) {
    @include flex-direction(column);
  }
}

.document__editor { height: 100%; }

.document__content { height: calc(100% - 42px); }

.document__column {
  background: white;
  border: 1px solid $border;
  border-radius: 6px;
  display: inline-block;
  width: calc(30% - 20px);
  margin-left: 20px;
  @media screen and (max-width: 798px) {
    width: 100%;
    margin-left: 0;
    min-height: 150px;
  }
}

.column__options {
  @include flexbox;
  @include align-items(center);
  @include justify-content(flex-start);
  border-bottom: 1px solid $border;
  height: 42px;
  ul {
    margin: 0;
    list-style: none;
    padding-left: 10px;
    li {
      display: inline;
      padding: 0 10px;
      i {
        color: $accent;
        cursor: pointer;
        &:hover {
          color: #06c;
          text-decoration: none;
        }
      }
    }
  }
}

.document__container {
  width: 70%;
  @media screen and (max-width: 798px) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.column__blocks {
  padding: 10px;
  height: calc(100% - 60px);
  overflow-y: scroll;
  .block {
    background-color: white;
    background-image: url('../images/tile-header.png');
    background-repeat: repeat-x;
    border: 1px solid $border;
    border-radius: 6px;
    padding: 5px;
    margin: 10px 0;
    position: relative;
    textarea {
      width: 100%;
      margin: 25px 5px 5px;
      font-family: $fontstack;
      resize: vertical;
    }
    .close {
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
}

/* Premium
================================================== */

.premiumBar {
  width: 100%;
  text-align: center;
  padding: 5px;
  color: $border;
  display: none;
}

/* Directory
================================================== */

.tips {
  @include flexbox();
  @include align-items(center);
  background-color: lighten($border, 30%);
  color: $border;
  border-radius: 50px;
  border: 1px solid $border;
  padding: 10px;
  width: 100%;
  margin: 20px 0;
  .icon-bell {
    font-size: 30px;
    margin: 0 25px;
  }
}

.campaign__create {
  border: 1px dashed $border;
  border-radius: 6px;
  padding: 10px;
  font-size: 24px;
  margin: 15px 0;
  a {
    color: $border;
    display: block;
    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  }
}

.campaign {
  border: 1px solid $border;
  border-radius: 6px;
  background-color: white;
  padding-left: 0;
  list-style: none;
  position: relative;
  margin: 15px 0;
  a {
    padding: 10px;
    position: relative;
    display: block;
    font-size: 24px;
    color: $primary;
    transition: ease-in-out 0.3s background-color;
    &:hover {
      background-color: rgba(0,0,0,0.05);
      text-decoration: none;
    }
  }
  .delete {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    color: rgba(0,0,0,0.4);
    cursor: pointer;
    transition: ease-in-out 0.3s color;
    &:hover {
      color: $primary;
    }
  }
}