---
layout: default
title: about
id: about
handle: about
---

{% include loading.html %}

{% include sidebar.html %}

<div class="content content--padded">
  <h1>About 1Screen</h1>
  <p>1Screen is a project created by me (Matt). The goal of 1Screen is to create a useful tool for creating and running tabletop RPG campaigns. It is also worth noting that this is an ever-evolving project so new additions and features will show up as time goes on.</p>
  <p>If you ever need to contact me reach out via twitter <a href="https://twitter.com/omgmrm" target="_blank">@omgmrm</a></p>

  <div class="privacy shadow">
    {% include privacy.html %}
  </div>
</div>
