---
layout: default
title: app
id: app
handle: app
---

<div class="loading-screen">
  <img src="{{ 'images/loading.gif' | relative_url }}">
</div>

{% include sidebar.html %}

<div class="document">
  <div class="document__header">
    <h1 onclick="changesMade()" spellcheck="false" id="document-title" class="document__title" contenteditable="true">Your first campaign</h1>
    <div class="document__buttons">
        <button class="shadow" id="notes"><i class="icon-edit-2"></i> Notes</button>
        <button class="shadow" id="save"><i class="icon-save"></i> <span id="save-message">Save</span></button>
    </div>
  </div>
  <div class="document__workspace">
    {% include editor.html %}
    {% include blocks.html %}
  </div>
</div>