---
layout: default
title: campaigns
id: campaigns
---

{% include loading.html %}

{% include sidebar.html %}

<div class="content content--padded">
  <h1>My Campaigns</h1>

  <div id="campaignList" class="campaignList">
    <div id="createBlock" class="campaign__create">
      <a id="create" href="/editor">
        <span><i class="icon-plus"></i> New campaign</span>
      </a>
    </div>

  </div>

  <div class="tips shadow">
    <i class="icon-bell"></i>
    <div class="tipsContent" id="tip"></div>
  </div>
</div>