---
layout: default
title: campaigns
id: campaigns
---

<div class="loading-screen">
  <img src="{{ 'images/loading.gif' | relative_url }}">
</div>

{% include sidebar.html %}

<div class="content content--padded">
  <h1>My Campaigns</h1>

  <div id="campaignList" class="campaignList">
    <div id="createBlock" class="campaign__create">
      <a id="create" href="/editor">
        <span><i class="icon-plus"></i> New campaign</span>
      </a>
    </div>

  </div>

  <div class="premiumBar">
    <p>You've used <span id="count">1/4</span> slots, need more? Become a <strong>1Screen Supporter(Coming soon!)</strong></p>
  </div>

  <div class="tips">
    <i class="icon-bell"></i>
    <div class="tipsContent">
      <h3>Did you know?</h3>
      <p>Your changes save automatically every 5 minutes.</p>
    </div>

  </div>
</div>