---
layout: homepage
title: index
id: index
---

<div class="hero">
  <div class="hero__content">
    <img src="{{ 'images/1screen.svg' | relative_url }}" alt="1Screen">
    <h1>Better a better game master.</h1>
    <p>1Screen is an easy-to-use application that let's you create and run your campaigns all in one place. Less tabs, less papers and less headaches. You can also take your campaign with you anywhere you go with 1Screen's cloud saving and responsive design.</p>
    <a class="actionBtn" href="{{ '/login' | relative_url }}">Create free account</a><a class="actionBtn secondary" href="{{ '/login' | relative_url }}">Log in</a>
  </div>
</div>








