---
layout: default
title: index
id: index
---

<div class="hero">
  <div class="hero__content">
    <h1>Better a better game master.</h1>
    <p>1Screen is an easy-to-use application that let's you organize all of your campaign information in one place. You can also take your campaign with you anywhere you go with 1Screen's cloud saving and responsive design. </p>
    <a class="actionBtn" href="{{ '/login' | relative_url }}">Create free account</a><a class="actionBtn secondary" href="{{ '/login' | relative_url }}">Log in</a>
  </div>
</div>

<div class="wrap">
  <div class="sellPoints">
    <div class="point">
      <h3>Get things done faster.</h3>
      <p>1Screen has all the tools you'll need to right a campaign and set notes, all in one place. No need for multiple tabs.</p>
    </div>
    <div class="point">
      <h3>Cloud Storage.</h3>
      <p>Utilizing Google's powerful firebase, Your 1Screen board comes with you. Whatever device you use your campaigns will be available.</p>
    </div>
    <div class="point">
      <h3>Easy to use.</h3>
      <p>Being a game master is hard enough. 1Screen is an easy-to-use application that let's you get started right away.</p>
    </div>
    <div class="point">
      <h3>Active development.</h3>
      <p>Have no fear, we are here! 1Screen is an actively developed tool, this means frequent updates and feature releases. Have suggestions? We love feedback.</p>
    </div>
    <div class="point">
      <h3>Great value.</h3>
      <p>Don't want a costly subscription? Hate microtransactions? No problem, all the functionality you need to create useful and flexible campaigns is 100% free!</p>
    </div>
    <div class="point">
      <h3>Better portability.</h3>
      <p>Typically you need to bring your papers, books and other heavy tools to your sessions and if you forgot anything it's simply missing for the session, with 1Screen all your info is accessible from virtually any device.</p>
    </div>
  </div>
</div>








