---
layout: default
title: supporter
id: supporter
---

{% include sidebar.html %}

<div class="content content--padded">
  <h1>Support 1Screen</h1>
  <p>If you are a fan of 1Screen and want to show some support we suggest upgrading to <strong>Supporter Status</strong>!</p>
  <p>With Supporter Status you get access to some handy features like:</p>
  <ul>
    <li>Unlimited campaign slots</li>
    <li>Add images to your campaigns</li>
    <li>Exclusive commands</li>
    <li>Eternal love</li>
  </ul>
  <p>As 1Screen continues development we'll add in new Supporter features.</p>
  <div class="supporter-snippet">
    <h3>Get Supporter Status</h3>
    <a href="#" class="btn">Coming soon!</a>
  </div>
</div>
