---
layout: default
title: Premium
id: Premium
---

{% include loading.html %}

{% include sidebar.html %}

<div class="content content--padded">
  <h1>Why get premium</h1>

  <div class="compare-chart">
    <div class="shadow">
      <h2>1Screen Basic</h2>
      <ul>
        <li>Create &amp; edit campaigns</li>
        <li>Write handy notes</li>
        <li>Use powerful commands</li>
        <li>6 campaign slots</li>
      </ul>
      <p><strong>Free forever!</strong></p>
    </div>
    <div class="shadow">
      <h2>1Screen Premium</h2>
      <ul>
        <li>Everything in 1Screen Basic</li>
        <li>Monster templates</li>
        <li>Exclusive commands</li>
        <li>Unlimted campaign slots</li>
      </ul>
      <a href="#" class="btn shadow">$2 / Month</a>
    </div>
  </div>

  <p>Additionally, as 1Screen grows premium users will get <strong>beta access</strong> to try new features along with an ever-growing list of exclusive features.</p>


  <div class="supporter-snippet">
    <h2>FAQ</h2>
    <p class="question"><strong>Can I cancel at any time?</strong></p>
    <p class="answer">Yes, you can cancel your subscription at any time.</p>

    <p class="question"><strong>Why can't I subscribe right now?</strong></p>
    <p class="answer">As we are in beta phase we are not currently accepting subscriptions.</p>

    <p class="question"><strong>What happens to my campaigns if I unsubscribe</strong></p>
    <p class="answer">If you have over 6 campaigns saved before you unsubscribe you will get to keep those campaigns. Naturally, with the basic plan limitations you will no longer be able to create more campaigns.</p>
  </div>


</div>
