---
layout: default
title: Premium
id: Premium
---

{% include sidebar.html %}

<div class="content content--padded">
  <h1>1Screen Premium</h1>
  <p>If you are a fan of 1Screen and want to show some support we suggest upgrading to <strong>1Screen Premium</strong>!</p>
  <p>With Premium you get access to some handy features like:</p>
  <ul>
    <li>Unlimited campaign slots</li>
    <li>Add images to your campaigns</li>
    <li>Exclusive commands</li>
    <li>Eternal love</li>
  </ul>
  <p>As 1Screen continues development we'll add in new Premium features.</p>
  <div class="supporter-snippet shadow">
    <h3>Upgrade to premium</h3>
    <a href="#" class="btn shadow">Coming soon!</a>
  </div>
</div>
